@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
