/* Importing local fonts */
@import url("./fonts.css");

/* Custom variables */
:root {
  /* Colors */
  --primary-color: #f98207;
  --secondary-color: #ffd988;
  --hover-color: #dd5d02;
  --light-color: #fff9eb;
  --dark-color: #461202;
  --white-color: #fafafa;
  --black-color: #0e0e11;
  --greyish-black-color: #1a1a1e;
  --border-color: #27272a;
  --border-color-light: #d4d4d8;
  --warning-color: #dc3545;

  /* fonts */
  --primary-font: "Poppins", sans-serif;

  /* transitions */
  --trans-3s: all 0.3s ease;
  --trans-4s: all 0.4s ease;
  --trans-5s: all 0.5s ease;

  /* spacings */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 1rem; /* 16px */
  --spacing-4: 1.5rem; /* 24px */
  --spacing-5: 2rem; /* 32px */
  --spacing-6: 3rem; /* 48px */
  --spacing-7: 6rem; /* 96px */

  /* Box-shadow */
  --shadow: 0 10px 40px -12px rgba(16, 24, 40, 0.1);

  /* typography size */
  --display-1: 4rem;
  --ty-size-h1: 2.125rem; /* 34px */
  --ty-size-h2: 1.6rem; /* 25.6px */
  --ty-size-h3: 1.25rem; /* 20px */
  --ty-size-p: 1rem; /* 16px */
}

/* Resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: inherit;
}

/* Dark appearence */
body.dark {
  --white-color: #0e0e11;
  --black-color: #fafafa;
}

h1 {
  font-size: var(--ty-size-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--ty-size-h2);
  font-weight: 400;
}

h3 {
  font-size: var(--ty-size-h3);
  font-weight: 500;
}

p,
a,
button {
  font-size: var(--ty-size-p);
  font-weight: 500;
}

/* HEADER STYLE */
/* Title section */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-7);
}

.title {
  text-align: center;
}

/* Appearence section */
.header .appearance {
  display: flex;
  align-items: center;
  margin: var(--spacing-2) 0 var(--spacing-5) 0;
}

.appearance .icons {
  padding-inline: 5px;
  width: 50px;
  color: var(--black-color);
  font-size: 20px;
}

.appearance .switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.appearance .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.appearance .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  -webkit-transition: var(--trans-4s);
  transition: var(--trans-4s);
  border-radius: 34px;
}

body.dark .appearance .switch .slider {
  background-color: var(--primary-color);
}

.appearance .switch .slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--dark-color);
  -webkit-transition: var(--trans-4s);
  transition: var(--trans-4s);
  border-radius: 50%;
}

body.dark .appearance .switch .slider::before {
  box-shadow: 0 0 1px var(--primary-color);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* MAIN STYLE */
/* search section */
.main {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 105px;
  width: 400px;
  flex-direction: column;
  margin: 0 auto;
  background: var(--white-color);
  box-shadow: var(--shadow);
  border: 1px solid var(--border-color-light);
  border-radius: 18px;
  -webkit-transition: var(--trans-5s);
  transition: var(--trans-5s);
}

body.dark .container {
  background-color: var(--greyish-black-color);
  border: 1px solid var(--border-color);
}

.search-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 26px;
  overflow: hidden;
  -webkit-transition: var(--trans-3s);
  transition: var(--trans-3s);
}

.location-icon {
  font-size: 35px;
  color: var(--dark-color);
}

body.dark .location-icon {
  color: var(--light-color);
}

.user-input {
  width: 230px;
  height: 45px;
  border: 0;
  padding-left: var(--spacing-2);
  border-radius: 12px;
  background-color: var(--secondary-color);
  color: var(--dark-color);
  font-size: var(--ty-size-p);
  margin-inline: var(--spacing-2);
}

body.dark .user-input {
  background-color: var(--light-color);
}

.user-input:focus {
  outline: 0;
  border: 2px solid var(--primary-color);
}

.user-input:focus::placeholder {
  color: transparent;
}

.submit-btn {
  width: 45px;
  height: 45px;
  background-color: var(--light-color);
  cursor: pointer;
  border: 0;
  border-radius: 50%;
}

.submit-btn ion-icon,
body.dark .submit-btn ion-icon {
  font-size: 35px;
  color: var(--dark-color);
}

.submit-btn:hover {
  -webkit-transition: var(--trans-3s);
  transition: var(--trans-3s);
}

.submit-btn:active {
  background-color: var(--hover-color);
}

.submit-btn:hover ion-icon,
body.dark .submit-btn:hover ion-icon {
  color: var(--hover-color);
  -webkit-transition: var(--trans-3s);
  transition: var(--trans-3s);
}

.submit-btn:active ion-icon,
body.dark .submit-btn:active ion-icon {
  color: var(--light-color);
}

/* error status section */
.errorStatus {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--spacing-5);
  transition: var(--trans-4s);
  -webkit-transition: var(--trans-4s);
}

.error-status-img {
  width: 150px;
  height: auto;
  padding-bottom: var(--spacing-4);
}

.error {
  background-color: var(--warning-color);
  color: var(--white-color);
}

body.dark .error {
  background-color: var(--warning-color);
  color: var(--black-color);
}

/* weather section */
.weather-box {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--spacing-3);
  transition: var(--trans-4s);
  -webkit-transition: var(--trans-4s);
}

.weather-box .weather-img {
  width: 150px;
  height: auto;
  -webkit-transition: var(--trans-3s);
  transition: var(--trans-3s);
}

.weather-box .temperature {
  font-size: var(--display-1);
}

.weather-box .description {
  font-size: var(--ty-size-h2);
  font-weight: 700;
  text-transform: capitalize;
}

/* details section */
.details {
  width: 100%;
  display: none;
  justify-content: space-around;
  align-items: center;
  margin-bottom: var(--spacing-3);
  transition: var(--trans-4s);
  -webkit-transition: var(--trans-4s);
}

.humidity,
.wind-speed {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info ion-icon {
  margin-right: var(--spacing-1);
  font-size: 25px;
  color: var(--primary-color);
}

.info p {
  color: var(--primary-color);
}

body.dark .info p {
  color: var(--secondary-color);
}

/* not-found section*/
.not-found {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--spacing-5);
  transition: var(--trans-4s);
  -webkit-transition: var(--trans-4s);
}

.not-found .not-found-img {
  width: 150px;
  height: auto;
  padding-bottom: var(--spacing-4);
}

.not-valid {
  padding: var(--spacing-1);
  border-radius: 12px;
  color: var(--warning-color);
  position: absolute;
  bottom: 0;
  display: none;
}

body.dark .not-valid {
  color: var(--light-color);
}

/* ANIMATIONS */
.shake {
  animation: shake 400ms ease 0s 2 normal forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

.fadeIn {
  animation: FadeIn 1600ms ease 0s 1 normal forwards;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(1.4);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Media queries - From Desktop to Mobile */
/* Largest devices (1600px and down) */
@media only screen and (max-width: 100rem) {
}

/* Exxtra Large devices (1400px and down) */
@media only screen and (max-width: 87.5rem) {
}

/* Extra Large devices (1200px and down) */
@media only screen and (max-width: 75rem) {
}

/* Large devices (992px and down) */
@media only screen and (max-width: 62rem) {
}

/* Medium devices (768px and down) */
@media only screen and (max-width: 48rem) {
}

/* Small devices (576px and down) */
@media only screen and (max-width: 36rem) {
}
