/* Importing local fonts */
@import url("./fonts.css");

/* Custom variables */
:root {
  /* Colors */
  --primary-color: #f98207;
  --secondary-color: #ffd988;
  --hover-color: #dd5d02;
  --light-color: #fff9eb;
  --dark-color: #461202;
  --white-color: #fafafa;
  --black-color: #0e0e11;

  /* fonts */
  --primary-font: "Poppins", sans-serif;

  /* transitions */
  --trans-3s: all 0.3s ease;
  --trans-5s: all 0.5s ease;

  /* spacings */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 1rem; /* 16px */
  --spacing-4: 1.5rem; /* 24px */
  --spacing-5: 2rem; /* 32px */
  --spacing-6: 3rem; /* 48px */
  --spacing-7: 6rem; /* 96px */

  /* Box-shadow */
  --shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);

  /* typography size */
  --ty-size-h1: 2.125rem; /* 34px */
  --ty-size-h2: 1.6rem; /* 25.6px */
  --ty-size-h3: 1.25rem; /* 20px */
  --ty-size-p: 1rem; /* 16px */
  
}

/* Resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: inherit;
}

h1 {
  font-size: var(--ty-size-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--ty-size-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--ty-size-h3);
  font-weight: 500;
}

p,
a,
button {
  font-size: var(--ty-size-p);
  font-weight: 500;
}

/* HEADER STYLE */
/* Title section */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-7);
}

.title {
  text-align: center;
}

/* MAIN STYLE */






/* Media queries - From Desktop to Mobile */
/* Largest devices (1600px and down) */
@media only screen and (max-width: 100rem) {
}

/* Exxtra Large devices (1400px and down) */
@media only screen and (max-width: 87.5rem) {
}

/* Extra Large devices (1200px and down) */
@media only screen and (max-width: 75rem) {
}

/* Large devices (992px and down) */
@media only screen and (max-width: 62rem) {
}

/* Medium devices (768px and down) */
@media only screen and (max-width: 48rem) {
}

/* Small devices (576px and down) */
@media only screen and (max-width: 36rem) {
}
